<!DOCTYPE HTML>
<html lang="en">
    <head th:replace="fragments/layout :: head"></head>
    <body>
        <header th:replace="fragments/layout :: header"></header>
        <div class="container">

            <div class="row m-2">
                <div class="col-4"></div>

                <div class="col-4 justify-content-center">
                    <a href="/login">
                        <button role="button" type="button" class="btn-block btn-primary btn-lg">Kirjaudu</button>
                    </a>
                </div>

                <div class="col-4"></div>
            </div>

            <div class="row m-2">
                <div class="col-4"></div>

                <div class="col-4 justify-content-center">
                    <a href="/registrations">
                        <button role="button" type="button" class="btn-block btn-primary btn-lg">Rekisteröidy</button>
                    </a>
                </div>

                <div class="col-4"></div>
            </div>
       
        </div>
        <footer th:replace="fragments/layout :: footer"></footer>
    </body>
</html>
