<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments/layout :: head"></head>
    <body>
        <header th:replace="fragments/layout :: header"></header>
        <nav th:replace="fragments/layout :: navigation"></nav>

        <div class="container">
            <div class="card-columns mt-5 justify-content-center">

                <div th:if="${images.isEmpty()}">
                    <div class="row justify-content-center" style="margin-top:20px;">
                        <div class="col-12 col-md-10 col-lg-8">
                            <p>Käyttäjä ei ole ladannut kuvia</p>
                        </div>
                    </div>
                </div>

                <th:block th:each="image : ${images}">

                    <div class="card card-custom mx-2 mb-3" th:id="${image.getId()}" style="max-width: 22rem;border:solid gray thin;">
                        
                        <div class="row h-25 no-gutters vertical-align">
                            <div class="col d-flex align-items-center" style="padding-left:27px;">
                                <div>
                                    <span th:text="${image.likes + ' tykkäystä'}">tykkäykset</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div th:replace="fragments/utilities :: likebuttonImage(${image.getId()}, ${url})"></div>
                            </div>
                        </div>

                        <img th:src="@{/image/{id}(id=${image.getId()})}" alt="kuva" class="card-img-top">

                        <p th:text="${image.description}" class="card-text p-2">lol</p>


                        <div class="card-body bg-light">

                            <th:block th:each="comment : ${image.getComments()}">

                                <div class="border rounded bg-white" style="position:relative;padding:5px 5px 18px 5px;margin-bottom:3px;">
                                    [[${comment.content}]]

                                    <div style="position:absolute;right:3px;bottom:0;">
                                        <small><i th:text="${comment.poster}">Lähettäjä</i></small>
                                    </div>
                                </div>

                            </th:block>


                            <div th:replace="fragments/utilities :: imagecommentform(${url}, ${image})"></div>

                        </div>
                    </div>

                </th:block>

            </div>
        </div>

        <footer th:replace="fragments/layout :: footer"></footer>
    </body>

</html>